// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 45rem;
  padding-left: var(--spacer-2);
  padding-right: var(--spacer-2);
  margin-left:  auto;
  margin-right: auto;
}

footer {
  margin-top: var(--spacer-3);
  padding-bottom: 4rem;

  small {
    display:inline-block;
  }

  #logo {
    float:right;
    height:4rem;
  }
}

@media (max-width: 50em) {
  footer {
    #logo {
      display:inline-block;
      float:left;
      margin: 4rem 0!important;
    }
  }  
}